<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Ajouter un nouveau prestataire</h1>
    <p class="mb-4">
        <a routerLink="/dashboard/home/admin-services-providers" class="btn btn-primary">Retour</a>
    </p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ajout</h6>
        </div>
        <div class="card-body">

            <form [formGroup]="form" class="user" (ngSubmit)="addData()">

                <div class="form-group">
                    <label for="">Category</label>
                    <select formControlName="category" class="form-control " >
                        <option value="">please choose a category</option>
                        <option [value]="c.id" *ngFor="let c of servicesProvidersCategories">{{ c.label }}</option> 
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="">Location</label>
                    <select formControlName="location" class="form-control " >
                        <option value="">please choose a location</option>
                        <option [value]="c.id" *ngFor="let c of servicesProvidersLocations">{{ c.location }}</option> 
                    </select>
                </div>
                

                
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" formControlName="name" >
                </div>

                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" formControlName="email" >
                </div>
                
                <div class="form-group">
                    <label for="">Descreption</label>
                    <textarea  class="form-control" formControlName="descreption" ></textarea>
                </div>
                
                <div class="form-group">
                    <label for="">Tarif service</label>
                    <input type="number" class="form-control" formControlName="price" >
                </div>
                 
                <hr>
                <h3>Authentification</h3> 


                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" formControlName="username" class="form-control " id="exampleInputEmail"
                        aria-describedby="nameHelp" >
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input type="text" formControlName="password" class="form-control " id="exampleInputEmail"
                        aria-describedby="nameHelp" >
                </div>



               
                <button type="submit" [disabled]="! form.valid" class="btn btn-primary btn-user btn-block">
                    Créer maintenant
                </button>

                <div class="form-group my-2" *ngIf="errMsg!=''">
                    <div class="alert alert-danger">
                        {{errMsg}}
                    </div>
                </div>
                <div class="form-group my-2" *ngIf="successMsg!=''">
                    <div class="alert alert-success">
                        {{successMsg}}
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>