<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Ajouter un nouveau docteur</h1>
    <p class="mb-4">
        <a routerLink="/dashboard/home/admin-doctors-list" class="btn btn-primary">Retour</a>
    </p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ajout</h6>
        </div>
        <div class="card-body">

            <form [formGroup]="form" class="user" (ngSubmit)="addData()">

                <div class="form-group">
                    <label for="">Nom prénom</label>
                    <input type="text" formControlName="fullname" class="form-control " id="exampleInputEmail"
                        aria-describedby="nameHelp" >
                </div>
                <div class="form-group">
                    <label for="">Télephone</label>
                    <input type="text" formControlName="phone" class="form-control " id="exampleInputEmail"
                        aria-describedby="nameHelp" >
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" formControlName="email" class="form-control " id="exampleInputEmail"
                        aria-describedby="nameHelp" >
                </div>
                <div class="form-group">
                    <label for="">Adresse</label>
                    <input type="text" formControlName="address" class="form-control " id="exampleInputEmail"
                        aria-describedby="nameHelp" >
                </div>
                <div class="form-group">
                    <label for="">A propos</label>
                    <input type="text" formControlName="about" class="form-control " id="exampleInputEmail"
                        aria-describedby="nameHelp" >
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select type="text" formControlName="category" class="form-control "  >
                        <option [value]="c.id" *ngFor="let c of categories">{{ c.label }}</option>
                    </select>
                </div>
                
                
                <hr>
                <h3>Authentification</h3>

                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" formControlName="username" class="form-control " id="exampleInputEmail"
                        aria-describedby="nameHelp" >
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input type="text" formControlName="password" class="form-control " id="exampleInputEmail"
                        aria-describedby="nameHelp" >
                </div>
               
                <button type="submit" [disabled]="! form.valid" class="btn btn-primary btn-user btn-block">
                    Créer maintenant
                </button>

                <div class="form-group my-2" *ngIf="errMsg!=''">
                    <div class="alert alert-danger">
                        {{errMsg}}
                    </div>
                </div>
                <div class="form-group my-2" *ngIf="successMsg!=''">
                    <div class="alert alert-success">
                        {{successMsg}}
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>